<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= group.q_crew %>
  </p>

  <p>
    <strong>Debut date:</strong>
    <%= group.debut_date %>
  </p>

  <p>
    <strong>Group type:</strong>
    <%= group.group_type %>
  </p>

  <th>Concerts:</th>
  Cantidad: <%= group.q_concert %>
  <td>
    <ul>
        <% group.concerts.each do |concert| %>
          <li><%= concert.place  %>, <%= concert.attendance %></li>
        <% end %>
    </ul>
  </td> 
  Tabla:

  <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Conciertos este mes</th>
      <th scope="col">Ultimo Concierto</th>
      <th scope="col">Mayor cantidad publico</th>
      <th scope="col">Mayor duracion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= group.id %></th>
      <td><%= group.concert_this_month %></td>
      <td><%= group.last_concert %></td>
      <td><%= group.max_attendance %></td>
      <td><%= group.max_duration %></td>
    </tr>
  </tbody>
</table>
</div>
